*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-section{
    text-align: center;
    background-color: #f2f2f2;
    background-size: cover;
}

.myimg{
    background-color: #f2f2f2;
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    justify-content: center;
    margin-top: 10px;
}

.mytext{
    background-color: #f2f2f2;
    font-family: 'Girassol', cursive;
    font-size: 40px;
    display: inline;
    vertical-align: middle;
    justify-content: center;
}

/*************************navbar**********************************************/

nav{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    background-color:#dcdcda !important ;
    width: 100%;
    height: 35px;
    padding-left: 300px;
    padding-right: 300px;
    z-index: 1;
} 

.menu{
    list-style: none;
}

.menu li{
    position: relative;
    display: inline-block;
    font-family: 'Quicksand', sans-serif !important;
    padding-left: 15px;
    padding-right: 15px;
}

.menu li:hover{
    color: white !important;
    height: 100%;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
    color: black !important;
}

.drop1 li{
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.drop1_list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    margin-top: 1px !important;
    padding-bottom: 10px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.drop1_list a {
    color: black;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.drop1_list a:hover {
    border-bottom: 2px solid #72c29b;
    background-color: white;
}

/* Show the dropdown menu on hover */
.drop1:hover .drop1_list{
  display: block;
} 

.drop2 li{
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.drop2_list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    margin-top: 1px !important;
    padding-bottom: 10px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.drop2_list a {
    color: black;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.drop2_list a:hover {
    border-bottom: 2px solid #72c29b;
    background-color: white;
}

/* Show the dropdown menu on hover */
.drop2:hover .drop2_list{
  display: block;
} 

.drop3 li{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop3_list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    margin-top: 1px !important;
    padding-bottom: 10px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.drop3_list a {
    color: black;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.drop3_list a:hover {
    border-bottom: 2px solid #72c29b;
    background-color: white;
}

/* Show the dropdown menu on hover */
.drop3:hover .drop3_list{
  display: block;
} 

/*********************************main******************************************/
.mypgh {
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-top: 70px;
    font-size: 30pt;
    text-align: center;
    text-shadow: 1px 1px black;
    padding-top: 70px;
    display: inline-block;
    margin-right: 125px;
    margin-left: 125px;
    justify-content: center;
    background-color: #47834b;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 500px;
    height: 250px;
}

.mainbotton{
    list-style: none;
    display: flex;
    text-align: center;
    background-color: #47834b;
    width: 600px;
    height: 50px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    justify-content: center;
}

.mainbotton li{
    display: inline-block;
    position:relative;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 20px;
    bottom: 30px;
   
}

.mainbotton li a {
    text-decoration: none;
    color: black;
}

.log-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    background-color: #a4a875;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 50px;
    text-align: center;
    justify-content: center;
    padding-right: 50px;
}

.log-button:hover{
    background-color:  #a8ac7e;
}

.reg-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    background-color: #a4a875;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 30px;
    margin-left: 75px;
}

.reg-button:hover{
    background-color:  #a8ac7e;
}

.main-section{
    position: relative;
    justify-content: center;
    text-align: center;
    background: url("../img/foto1.jpg");
    background-size: cover;
    /*background-color: #72c29b;*/
    width: auto;
    height: 500px;
    padding-top: 20px;
}

/******************************** benefit section *************************************************/
.benefit-section{
    display: flex;
    background-color: #c4c4c4;
    background-size: cover;
    position: relative;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: -1;
}

.benefit1{
    display: inline-block;
}

.image1{
    position: relative;
    top: 60px;
}

.image2{
    position: relative;
    top: 60px;
}

.image3{
    position: relative;
    top: 60px;
}

.mytext2{
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.mypgh2{
    font-size: 20px;
    margin-bottom: 60px;
}

.benefit2{
    display: inline-block;
}

.mytext3{
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.mypgh3{
    font-size: 20px;
}

.benefit3{
    display: inline-block;
}

.mytext4{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.mypgh4{
    font-size: 20px;
}

/****************************** More Info ********************************************/
.more-section{
    position: relative;
    text-align: center;
    justify-content: center;
    display: block;
    height: cover;
    background-color: #e6e6e6;
}

.info1{
    top: 30px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 30px;
}

.mytext2_1{
    padding-top: 50px;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    justify-content: center;
}

.mypgh2_1{
    font-size: 20px;
    position: relative;
    justify-content: center;
}

.myicon1{
    position: relative;
    justify-content: center;
}

.info2{
    display: inline-block;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 400px;
    top: 30px;
    position: relative;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

}

.mytext3_1{
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mypgh3_1{
    font-size: 20px;
}

.myicon2{
}

.info3{
    display: inline-block;
    top: 30px;
    position: relative;
    padding-bottom: 15px;
}

.mytext4_1{
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    justify-content: center;
}

.mypgh4_1{
    font-size: 20px;
    position: relative;
    justify-content: center;
}

.myicon3{
    position: relative;
    justify-content: center;
}

.art-button{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    display: block;
    color: black;
    justify-content: center;
    background-color: #a4a875;
    padding-top: 5px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.art-button a {
    text-decoration: none;
    color: inherit;
}

.art-button:hover{
    background-color:  #a8ac7e;
}

.rkg-button{
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    background-color: #a4a875;
    padding-top: 5px;
    height: 30px;
    width: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 60px;
}

.rkg-button:hover{
    background-color:  #a8ac7e;
}

.rkg-button a {
    text-decoration: none;
    color: inherit;
}

.rvw-button{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    color: black;
    justify-content: center;
    background-color: #a4a875;
    padding-top: 5px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.rvw-button:hover{
    background-color:  #a8ac7e;
}

.rvw-button a {
    text-decoration: none;
    color: inherit;
}

/**************************************** footer ************************************************/
.footer{
    display: block;
    background-color: #47834b;
    background-size: cover;
    text-align: left;
    position: relative;
}

.alamat{
    display: inline-block;
    position: relative;
    justify-content: center;
}

.logo-end{
    position: relative;
    top: 20px;
    left: 20px;
}

.aboutus{
    display: inline-block;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.description{
    display: inline-block;
    position: relative;
    justify-content: left;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.about-us{
    list-style: none;
}

.about-title{
    padding-bottom: 5px;
}

.about-us li{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.about-us li a {
    text-decoration: none;
    color: inherit;
}

.about-us li a:hover{
    background-color:  #4e8852;
    background-size: 60px 10px;
}