*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    background-color:#dcdcda ;
    width: 100%;
    height: auto;
} 

.menu{
    list-style: none;
}

.menu li{
    position: relative;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu li:hover{
    background: white;
    height: 100%;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.drop1 li{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop1_list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    top: 33px;
    right: 0.5px;
    left: 0.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.drop1_list a {
    color: black;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.drop1_list a:hover {
    border-bottom: 2px solid #72c29b;
}

/* Show the dropdown menu on hover */
.drop1:hover .drop1_list{
  display: block;
} 

.drop2 li{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop2_list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    top: 33px;
    right: 0.5px;
    left: 0.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.drop2_list a {
    color: black;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.drop2_list a:hover {
    border-bottom: 2px solid #72c29b;
}

/* Show the dropdown menu on hover */
.drop2:hover .drop2_list{
  display: block;
} 

.drop3 li{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop3_list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    top: 33px;
    right: 0.5px;
    left: 0.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.drop3_list a {
    color: black;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.drop3_list a:hover {
    border-bottom: 2px solid #72c29b;
}

/* Show the dropdown menu on hover */
.drop3:hover .drop3_list{
  display: block;
} 


/***********************************main**********************************************/
.signup-page2{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/foto3.jpg");
    background-size: 100% 850px;
    position: relative;
}

.signup-box1{
    position: absolute;
    display: inline-block;
    width:500px;
    height: 670px;
    background-color: #f2f2f2;
    margin-left: 600px;
    margin-right: 105px;
    margin-top: 50px;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.judul-txt{
    padding-right: 150px;
    font-family: 'Crimson Text', serif;
    text-shadow: 0.1px 0.1px black;
    color: black;
    font-size: 25px;
    margin-bottom: 5px;
}

.nik{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 5px;
}

.input-nik{
    justify-content: right;
    display: inline-block;
    margin-left: 142px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.ktp{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 5px; 
    padding-top: 10px;
}

.input-ktp{
    justify-content: right;
    display: inline-block;
    margin-left: 138px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
}

.pass-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 5px; 
    padding-top: 10px;
}

.input-pass{
    justify-content: right;
    display: inline-block;
    margin-left: 104px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.cpass-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 5px; 
    padding-top: 10px;
}

.input-cpass{
    justify-content: right;
    display: inline-block;
    margin-left: 51px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.num1-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 10px; 
    padding-top: 10px;
}

.input-num1{
    justify-content: right;
    display: inline-block;
    margin-left: 55px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.num2-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 10px; 
    padding-top: 10px;
}

.input-num2{
    justify-content: right;
    display: inline-block;
    margin-left: 47px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.member-type{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 5px
}

.input-member{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.input-member2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.join-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.select-join{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    margin-left: 60px;
}

.prof-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-prof{
    display: inline-block;
    margin-left: 121px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.skill-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skill-area{
    display: inline-block;
    margin-left: 138px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.alamat-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-alamat{
    display: inline-block;
    margin-left: 121px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.tgl-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-tgl{
    display: inline-block;
    margin-left: 81px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 5px;
    padding-left: 10px;
}

.nama-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-nama{
    display: inline-block;
    margin-left: 70px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.uname-txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-uname{
    display: inline-block;
    margin-left: 16px;
    height: 25px;
    width: 200px;
    border-color:#72C29B ;
    border-width: 0.5px;
    padding-left: 10px;
}

.signup-box2{
    position: absolute;
    display: inline-block;
    width: 380px;
    height: 670px;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 235px;
}

.caut-page{
    position: relative;
    text-align: left;
    padding-left: 15px;
    margin-left: 40px;
    padding-top: 4px;
    background-color: #eee6e6;
    height: 60px;
    width: 290px;
    margin-top:0px;
}

.caut-img{
    display: inline-block;
    position: absolute;
    margin-top: 3px;
}

.caut-txt{
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin-left: 20px;
    margin-top: 1px;
}

.caut-pgh{
    display: block;
    font-size: 14px;
}

.logo-sgn{
    margin-left: 120px;
    margin-right: 70px;
}

.g-signin2{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.fb-btn{
    padding-top: 12px;
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 280px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    background-color:#29487D;
    margin-bottom: 10px;
    font-size: 14px;
    border-width: 0;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.twt-btn{
    padding-top: 12px;
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 280px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    background-color: #00acee;
    margin-bottom: 10px;
    font-size: 14px;
    border-width: 0;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.gh-btn{
    padding-top: 12px;
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 280px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
    font-size: 14px;
    border-width: 0;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.ld-btn{
    padding-top: 12px;
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 280px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
    font-size: 14px;
    border-width: 0;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.fb-icon{
    bottom: 5px;
    position: relative;
    margin-right: 60px;
    left: 10px;
}

.twt-icon{
    bottom: 5px;
    position: relative;
    margin-right: 70px;
    left: 10px;
}

.github-icon{
    bottom: 5px;
    position: relative;
    margin-right: 70px;
    left: 10px;
}

.linkedin-icon{
    bottom: 5px;
    position: relative;
    margin-right: 70px;
    left: 10px;
}

.submit-btn{
    display: block;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 0.1px 0.1px black;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    margin-left: 300px;
    cursor: pointer;
    border-width: 0px;
    background-color: #a4a875;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.submit-btn:hover{
    background-color:  #a8ac7e;
}

/*********************************footer*******************************************/
.footer{
    display: flex;
    background-color: #47834b;
    height: 250px;
    text-align: left;
    justify-content: center;
    padding-top: 20px;
    margin-top: 60%;
    margin-right: 0px;
    margin-left: 0px;
}

.alamat{
    display: inline-block;
    margin-left: 10px;
    padding-right: 190px;
    margin-bottom: 10px;
}

.aboutus{
    padding-top: 15px;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
}

.description{
    font-size: 16px;
    display: inline-block;
    padding-left: 190px;
    margin-right: 10px;
    padding-top: 50px;
}

.about-us{
    list-style: none;
}

.about-title{
    padding-bottom: 10px;
}

.about-us li{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-us li a {
    text-decoration: none;
    color: inherit;
}

.about-us li a:hover{
    background-color:  #4e8852;
    background-size: 60px 10px;
}
